{% extends 'base.html' %} {% load static %} {% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('https://images.unsplash.com/photo-1584811644165-33db3b146db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80')">
   <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
         <div class="col-md-9 text-center">
            <h1 class="mb-0 bread">Payment succesfullt</h1>
         </div>
      </div>
   </div>
</div>

{% endblock %}
