{% extends 'base.html' %} {% load static %} {% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
   <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
         <div class="col-md-9 text-center">
            <h1 class="mb-0 bread">Immediate contact</h1>
         </div>
      </div>
   </div>
</div>

<section class="ftco-section">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-4">
            <div class="row">
               <div class="col-md-12 d-flex mb-5">
                  <div class="cart-detail cart-total p-6 p-md-4">
                     <h2 class="billing-heading mb-4">Whom to contact</h2>
                     <p >
                        <h3>Authorities</h3>
                        <hr/> 
                   <div style="margin-left:5%">
                     {% for authority_personal in authorities %} 
                     <label class="container-checkbox">{{authority_personal.name}}
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                      </label>
                     {% endfor %}
                   
                 
                   </div>
                     <br/>
                     </p>
                     <p >
                        <h3>Neighbors</h3>
                        <hr/> 
                   <div style="margin-left:5%">
                     {% for neighbor in neighbors %} 
                     <label class="container-checkbox">{{neighbor.name}}
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                      </label>
                     {% endfor %}
                   
                 
                   </div>
                       <br/>  <br/> 
                     </p>
                     <p >
                        <h3>Friends</h3>
                        <hr/> 
                        <div style="margin-left:5%">
                           {% for friend in friends %} 
                           <label class="container-checkbox">{{friend.name}}
                              <input type="checkbox" >
                              <span class="checkmark"></span>
                            </label>
                           {% endfor %}
                         
                       
                         </div>
                            
                     </p>
                  
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-8">
            <form action="#" class="billing-form" method="post">
               {% csrf_token %}

               <div class="row align-items-end">
                  <div class="w-100"></div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="name"> Name of the child</label>
                        <input name="name" type="text" class="form-control" placeholder="" />
                     </div>
                  </div>

                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="age">Age of child</label>
                        <input name="age" type="text" class="form-control" placeholder="" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="time">Time of missing</label>
                        <input name="time" type="time" class="form-control" placeholder="" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="location">Where was your child last found</label>
                        <input name="location" type="text" class="form-control" placeholder="" />
                     </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="wearing">What was your child wearing?</label>
                        <input name="wearing" type="text" class="form-control" placeholder="" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="extra_info">Other info</label>
                        <input name="extra_info" type="text" class="form-control" placeholder="" />
                     </div>
                  </div>
               </div>
               <button class="btn btn-success py-3 px-4" type="submit">Make call and send text</button>
            </form>
         </div>
      </div>
   </div>
</section>

{% endblock %}
