{% extends 'base.html' %} {% load static %} {% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('https://images.unsplash.com/photo-1584811644165-33db3b146db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80')">
   <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
         <div class="col-md-9 text-center">
            <h1 class="mb-0 bread">Twilio call</h1>
         </div>
      </div>
   </div>
</div>

<section class="ftco-section">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-7">
            <form action="#" class="billing-form" method="post">
               {% csrf_token %}
               <h3 class="mb-4 billing-heading">Billing Details</h3>
               <div class="row align-items-end">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="number"> Number</label>
                        <input name="number" type="text" class="form-control" placeholder="" />
                     </div>
                  </div>

                  <div class="w-100"></div>
               </div>
               <button class="btn btn-success py-3 px-4" type="submit">
                  <a href="{% url 'checkout'  %}" class="btn-success">Make call</a>
               </button>
            </form>
            <!-- END -->
         </div>
         <div class="col-xl-5">
            <div class="row mt-5 pt-3">
               <div class="col-md-12 d-flex mb-5">
                  <div class="cart-detail cart-total p-3 p-md-4">
                     <h3 class="billing-heading mb-4">Cart Total</h3>
                     <p class="d-flex">
                        <span>Subtotal</span>
                        <span>$20.60</span>
                     </p>
                     <p class="d-flex">
                        <span>Delivery</span>
                        <span>$0.00</span>
                     </p>
                     <p class="d-flex">
                        <span>Discount</span>
                        <span>$3.00</span>
                     </p>
                     <hr />
                     <p class="d-flex total-price">
                        <span>Total</span>
                        <span>$17.60</span>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <!-- .col-md-8 -->
      </div>
   </div>
</section>
<!-- .section -->

{% endblock %}
